{% extends '@UnicatModule/Admin/_layout.html.twig' %}

{% block title %} {{ 'Items types'|trans }} / {{ parent() }}{% endblock %}

{% block content_header_wrapper %}
    <div class="box-header with-border">
        <a href="{{ path('unicat_admin.items_type_create', {'configuration': configuration.name}) }}" class="btn btn-success pull-right">
            <i class="icon-plus icon-white"></i><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'Create'|trans }}
        </a>

        <h3 class="box-title">{%- block content_header 'Items types'|trans -%}</h3>
    </div>
{% endblock content_header_wrapper %}

{% block content_body %}
    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">id</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Position'|trans }}</th>
            <th>{{ 'Attributes groups'|trans }}</th>
            <th>{{ 'Taxonomies'|trans }}</th>
            {#<th>{{ 'Created at'|trans }}</th>#}
        </tr></thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.id }}</td>
                <td><a href="{{ path('unicat_admin.items_type_edit', {'configuration': configuration.name, 'id': type.id}) }}">{{ type.title }}</a></td>
                <td><a href="{{ path('unicat_admin.items_type_edit', {'configuration': configuration.name, 'id': type.id}) }}">{{ type.name }}</a></td>
                <td><a href="{{ path('unicat_admin.items_type_edit', {'configuration': configuration.name, 'id': type.id}) }}">{{ type.position }}</a></td>
                <td>
                    {% for group in type.attributesGroups %}
                        {{ group }},
                    {% endfor %}
                </td>
                <td>
                    {% for taxonomy in type.taxonomies %}
                        {{ taxonomy }},
                    {% endfor %}
                </td>
                {#<td>{{ type.createdAt|format_date() }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
