{% block unicat_attribute_geomap_widget %}
    {% include '@UnicatModule/Form/unicat_attribute_geomap_widget.html.twig' %}
{% endblock %}

{% block unicat_attribute_image_widget %}
    {% apply spaceless %}
    {% if data is not empty %}
        {{ smart_media_img(data, '100x100') }}
        <input type="checkbox" name="_delete_[{{ name }}]" id="{{ id ~ 'remove'}}"/>
        <label for="{{ id ~ 'remove'}}" style="display: inline;">
            Удалить</label>
        <br/>
    {% endif %}

    {{ block('form_widget_simple') }}
    {% endapply %}
{% endblock %}

{% block unicat_attribute_gallery_widget %}
    {% include '@UnicatModule/Form/unicat_attribute_gallery_widget.html.twig' %}
{% endblock %}

{% block unicat_attribute_file_widget %}
    {% include '@UnicatModule/Form/unicat_attribute_file_widget.html.twig' %}
{% endblock %}
